#app{
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'cinzel';
}
@font-face {
    font-family: 'cinzel';
    src: url(./Cinzel-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'homeapple';
    src: url(./HomemadeApple-Regular.ttf);
}
@font-face {
    font-family: 'specialelite';
    src: url(./SpecialElite-Regular.ttf);
}
